NODE_ENV="production"
HOST="localhost"
PORT="8080"
DATA_SOURCE="MONGO"
SESSION_TIME="120000"
MONGODB_URI="mongodb+srv://<user>:<password>@cluster0.gs1l0ic.mongodb.net/?retryWrites=true&w=majority"
MONGODB_SESSION_STORE_URI="mongodb+srv://<user>:<password>@cluster0.gs1l0ic.mongodb.net/sessions?retryWrites=true&w=majority"
ADMIN_EMAIL="email@ethereal.email"
ADMIN_EMAIL_PASSWORD="email pasword"