{{>nav}}
<div class="container mt-3 jumbotron">
    <h3 class="text-primary"> Server Info </h3><br>
    <h3>Host: {{config.HOST}}</h3>
    <h3>Port: {{config.PORT}}</h3>
    <h3>Data Source: {{config.DATA_SOURCE}}</h3>
    <h3>Session Time: {{config.SESSION_TIME}} ms</h3>
</div>
